<%- include("templates/header") %> 
<!-- <h1>Create User</h1>
 <form method="POST" action="/submitUser">
  <label for="name">Name:</label>
  <input type="text" name="username" id="name" required><br>
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required><br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required><br>
  <input type="submit" value="Submit">
</form> --> 

<main class="form-signin w-100 m-auto">
  <div class= "d-flex gap-2 justify-content-center py-5">
  <form class= "text-center" action="/submitUser" method="POST">
    <img class="mb-4" src="https://getbootstrap.com//docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Create an User</h1>

    <div class="form-floating">
      <input type="name" class="form-control" placeholder="Username" name="username" id="name" required>
      <label for="floatingInput">Username</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
      name="password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value ="Submit">Sign in</button>
  </form>
  </div>
</main>
<%- include("templates/footer") %> 