<%- include("templates/header") %>

<h1>Cute Gif</h1> 

<div class="row mb-3 text-center">
    <div class="col-md-4 themed-grid-col"><img src="Cute1.gif" class="img-fluid"></div>
    <div class="col-md-4 themed-grid-col"><img src="Cute2.gif" class="img-fluid"></div>
    <div class="col-md-4 themed-grid-col"><img src="Cute3.gif" class="img-fluid"></div>
  </div>




<%- include("templates/footer") %> 