<%- include("templates/header") %> 
<h1>Hello, <%= username %>!</h1>
<form method = 'get'>
<a class="btn btn-primary rounded-pill px-3" type="button" href="members">Members Area</a>
<a class="btn btn-secondary rounded-pill px-3" type="button" href="logout">Log out</a>
</form>
<%- include("templates/footer") %> 