<%- include("templates/header") %>
<h1>Hello World!</h1>
<form method='get'>  
  <a class="btn btn-primary rounded-pill px-3" type="button" href="/createUser">Sign Up</a>
  <a class="btn btn-secondary rounded-pill px-3" type="button" href="/login" >Log In</a>
  <a class="btn btn-danger rounded-pill px-3" type="button" href="/404">404</a>
  <a class="btn btn-success rounded-pill px-3" type="button" href="/cuteGif">CuteGif</a>
  <a class="btn btn-info rounded-pill px-3" type="button" href="/members">Members Area</a>
  </form>
<%- include("templates/footer") %>  