<%- include("templates/header") %> 
<h1>Hello, <%= username %>!</h1>
<img src="<%= imagePath %>">
<a class="justify-content-center btn btn-secondary rounded-pill px-3" type="button" href="logout">logout</a>
<%- include("templates/footer") %> 